/* Base */
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.clear {
    clear: both;
}

.plugin {
    margin: 0;
    padding: 0 0 20px 0;
    background-color: transparent;
    font-size: 12px;
    color: #333;
    font-family: Tahoma, Kalimati, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, Arial, Helvetica, Sans-serif;
}

.plugin #content {
    overflow: hidden;
}

.plugin #providers {
    float: left;
    position: relative;
}

.plugin #providers .providers_group {
    float: left;
}

.plugin #providers .providers_group.hidden {
    display: none;
}

.plugin #providers .providers_group .providers_block {
    overflow: hidden;
    clear: both;
    padding: 0 20px;
}

.plugin #providers.providers_unpaginated .providers_group .providers_block {
    padding: 0 !important;
}

.plugin #providers .providers_group .providers_block .providers_row {
    clear: both;
}

.plugin #providers .providers_group .scroll {
    height: 100%;
    min-height: 100%;
    cursor: pointer;
    position: absolute;
    width: 20px;
    bottom: 0;
    top: 0;
}

.plugin #ie #providers .providers_group .scroll {
    top: 30% !important;
}

.plugin #providers .providers_group .scroll.scroll_left {
    left: 0;
}

.plugin #providers .providers_group .scroll.scroll_right {
    right: 0;
}

.plugin #providers .providers_group .scroll div {
    position: relative;
    background: url("/img/api/themes/assets/arrows_lr.png") no-repeat scroll 0 50% transparent;
    height: 100%;
    margin: 0 auto !important;
}

.plugin #ie #providers .providers_group .scroll div {
    margin-top: 0 !important;
}

.plugin #providers .providers_group .scroll.scroll_right div {
    background-position: -50px 50%;
}

.plugin #providers .providers_group .scroll.scroll_right:hover div {
    background-position: -10px 50%;
}

.plugin #providers .providers_group .scroll.scroll_left div {
    background-position: -130px 50%;
}

.plugin #providers .providers_group .scroll.scroll_left:hover div {
    background-position: -90px 50%;
}

.plugin #providers .provider {
    float: left;
    outline: 0 none;
    margin: 0 1px;
}

.plugin #providers .provider .button {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9998;
    outline: 0 none;
    opacity: 1;
}

.plugin #providers .provider .button:hover {
    opacity: 0.95;
}

.plugin #providers .provider .button .tick {
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 16px;
    z-index: 9999;
}

.plugin #providers .provider .name {
    color: #555;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    margin: 1px 0 2px;
}

.plugin #providers .provider_linked .button .tick {
    background: url("/img/api/themes/assets/tick.png") no-repeat 0 0 transparent;
}

.plugin #providers .provider_linked .name {
    font-weight: bold;
}

.plugin .footer {
    margin-top: 5px;
    font-size: 10px;
    position: fixed;
    left: 4px;
    right: 0;
    bottom: 0;
    line-height: 16px;
    opacity: 0.9;
}

.plugin .footer #message {
    display: none;
    cursor: pointer;
}

.plugin .footer #message.notice {
    color: #000;
}

.plugin .footer #message.error {
    color: #ff0000;
}

.plugin .footer #branding {
    color: #666;
}

.plugin .footer #branding a {
    color: #555;
    text-decoration: none;
}

.plugin .footer #branding a span.plugin_title {
    color: #3366CC;
}

/* Custom */
.plugin #providers {
    padding: 2px 0 0 0;
}

.plugin #providers .provider {
    width: 32px;
    padding: 2px 3px 6px;
}

.plugin #providers .provider .button .tick {
    right: -3px;
    top: -3px;
}

.plugin #providers .provider .button {
    width: 34px;
    height: 34px;
    background-image: url("/img/api/themes/iconsets/flat_w32_h32_w_b_v1.png");
    background-repeat: no-repeat;
    border-radius: 2px;
}

.plugin #providers .provider .name {
    display: none !important;
}

/* Buttons */
.plugin #providers .provider #button_amazon {
    background-position: 1px -46px;
    background-color: #FF9900;
}

.plugin #providers .provider #button_aol {
    background-position: 1px -140px;
    background-color: #000000;
}

.plugin #providers .provider #button_blogger {
    background-position: 1px -234px;
    background-color: #F57D00;
}

.plugin #providers .provider #button_deviantart {
    background-position: 1px -328px;
    background-color: #4B5;
}

.plugin #providers .provider #button_digg {
    background-position: 1px -422px;
    background-color: #14589E;
}

.plugin #providers .provider #button_disqus {
    background-position: 1px -516px;
    background-color: #36D794;
}

.plugin #providers .provider #button_draugiem {
    background-position: 1px -610px;
    background-color: #FF6600;
}

.plugin #providers .provider #button_dribbble {
    background-position: 1px -704px;
    background-color: #EA4C89;
}

.plugin #providers .provider #button_facebook {
    background-position: 1px -1174px;
    background-color: #3B5998;
}

.plugin #providers .provider #button_flickr {
    background-position: 1px -1268px;
    background-color: #0063DB;
}

.plugin #providers .provider #button_foursquare {
    background-position: 1px -1362px;
    background-color: #2398C9;
}

.plugin #providers .provider #button_github {
    background-position: 1px -1456px;
    background-color: #4183C4;
}

.plugin #providers .provider #button_google {
    background-position: 1px -1550px;
    background-color: #245DC1;
}

.plugin #providers .provider #button_googleplus {
    background-position: 1px -1644px;
    background-color: #D14836;
}

.plugin #providers .provider #button_instagram {
    background-position: 1px -1738px;
    background-color: #3F729B;
}

.plugin #providers .provider #button_linkedin {
    background-position: 1px -1832px;
    background-color: #007FB1;
}

.plugin #providers .provider #button_livejournal {
    background-position: 1px -1926px;
    background-color: #195397;
}

.plugin #providers .provider #button_mailru {
    background-position: 1px -2020px;
    background-color: #134785;
}

.plugin #providers .provider #button_microsoftaccount {
    background-position: 1px -2114px;
    background-color: #3E73B4;
}

.plugin #providers .provider #button_myspace {
    background-position: 1px -2208px;
    background-color: #008DDE;
}

.plugin #providers .provider #button_netlog {
    background-position: 1px -2302px;
    background-color: #000000;
}

.plugin #providers .provider #button_odnoklassniki {
    background-position: 1px -2395px;
    background-color: #E77924;
}

.plugin #providers .provider #button_openid {
    background-position: 1px -2490px;
    background-color: #F7931E;
}

.plugin #providers .provider #button_paypal {
    background-position: 1px -2583px;
    background-color: #1F356F;
}

.plugin #providers .provider #button_pinterest {
    background-position: 1px -2677px;
    background-color: #CB2027;
}

.plugin #providers .provider #button_reddit {
    background-position: 1px -2771px;
    background-color: #FF4500;
}

.plugin #providers .provider #button_skyrock {
    background-position: 1px -2865px;
    background-color: #009AFF;
}

.plugin #providers .provider #button_spotify {
    background-position: 1px -2490px;
    background-color: #80B719;
}

.plugin #providers .provider #button_stackexchange {
    background-position: 1px -3052px;
    background-color: #1F5196;
}

.plugin #providers .provider #button_steam {
    background-position: 1px -3146px;
    background-color: #000000;
}

.plugin #providers .provider #button_tencentqq {
    background-position: 1px -2772px;
    background-color: #000;
}

.plugin #providers .provider #button_tumblr {
    background-position: 0 -3337px;
    background-color: #29364A;
}

.plugin #providers .provider #button_twitch {
    background-position: 1px -3429px;
    background-color: #6441A5;
}

.plugin #providers .provider #button_twitter {
    background-position: 1px -3523px;
    background-color: #00ACED;
}

.plugin #providers .provider #button_typepad {
    background-position: 1px -3148px;
    background-color: #000;
}

.plugin #providers .provider #button_verisign {
    background-position: 1px -3242px;
    background-color: #FFC10C;
}

.plugin #providers .provider #button_viadeo {
    background-position: 1px -3336px;
    background-color: #F4982B;
}

.plugin #providers .provider #button_vimeo {
    background-position: 1px -3899px;
    background-color: #44BBFF;
}

.plugin #providers .provider #button_vine {
    background-position: 1px -3524px;
    background-color: #00A47A;
}

.plugin #providers .provider #button_vk {
    background-position: 1px -3618px;
    background-color: #45668E;
}

.plugin #providers .provider #button_vkontakte {
    background-position: 1px -4087px;
    background-color: #45668E;
}

.plugin #providers .provider #button_windowslive {
    background-position: 1px -2114px;
    background-color: #2f2f2f;
}

.plugin #providers .provider #button_wordpress {
    background-position: 1px -4369px;
    background-color: #21759B
}

.plugin #providers .provider #button_yahoo {
    background-position: 1px -4557px;
    background-color: #731A8B;
}

.plugin #providers .provider #button_youtube {
    background-position: 1px -4651px;
    background-color: #CD332D;
}

.plugin #providers .provider #button_battlenet {
    background-position: 1px -4744px;
    background-color: #000000;
}

.plugin #providers .provider #button_pixelpin {
    background-position: 1px -4835px;
    background-color: #000000;
}

.plugin #providers .provider #button_storage {
    background-position: 1px -4926px;
    background-color: #717171;
}

.plugin #providers .provider #button_xing {
    background-position: 0 -4463px;
    background-color: #007575;
}

.plugin #providers .provider #button_meetup {
    background-position: 0 -5939px;
    background-color: #ED1C40;
}

.plugin #providers .provider #button_line {
    background-position: 0 -6031px;
    background-color: #5cbb2b;
}

.plugin #providers .provider #button_soundcloud {
    background-position: 0 -6124px;
    background-color: #FF7200;
}

.plugin #providers .provider #button_discord {
    background-position: 0 -6215px;
    background-color: #7289DA;
}

.plugin #providers .provider #button_weibo {
    background-position: 0 -5571px;
    background-color: #CB2123;
}

.plugin #providers .provider #button_mixer {
    background-position: 0 -6492px;
    background-color: #05193d;
}

.plugin #providers .provider #button_google {
    background-position: 0 -6631px;
    background-color: #eee;
}
