#conversations-wrap {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 2147482999; }
  #conversations-wrap.conversations-wrap-hidden, #conversations-wrap.conversations-disabled {
    display: none; }
  #conversations-wrap.conversations-wrap-open {
    max-width: 380px;
    width: 100%;
    height: 562px; }
  #conversations-wrap.conversations-wrap-closed {
    width: 90px;
    height: 80px; }
  #conversations-wrap.conversations-wrap-bottom-left {
    right: initial;
    left: 0; }
  #conversations-wrap.conversations-wrap-bottom-right {
    right: 0;
    left: initial; }

#conversations-iframe {
  width: 100% !important;
  height: 100% !important; }

