@import url('https://fonts.googleapis.com/css?family=Rubik:500');


/* MAIN merger*/


body {
    margin-top: 60px
}

body .wrap main.default {
    padding: 70px 0
}

a:hover {
    text-decoration: none
}

a.factionol {
    border: 2px solid #f36;
    background: #fff;
    font-family: Rubik, sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.35em;
    font-weight: 400;
    height: auto;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding: .2em 1.8em;
    color: #011628;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px
}

.comment-list ol {
    list-style: none
}

.search-form label {
    font-weight: 400
}

.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    height: auto
}

.aligncenter {
    display: block;
    margin: .5rem auto;
    height: auto
}

.alignleft,
.alignright {
    margin-bottom: .5rem;
    height: auto
}

@media (min-width:576px) {
    .alignleft {
        float: left;
        margin-right: .5rem
    }
    .alignright {
        float: right;
        margin-left: .5rem
    }
}

header.banner {
    background: #011628;
    -webkit-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    border: none;
    font-family: Rubik, sans-serif;
    padding: 10px 0
}

header.banner .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

header.banner .container a.brand img.logo {
    max-width: 220px;
    height: auto
}

header.banner nav.nav-primary ul.nav li a {
    color: #fff;
    text-transform: uppercase
}

header.banner nav.nav-primary ul.nav li a:hover {
    color: #00b2ff
}

header.banner nav.nav-primary ul.nav li.ghost a {
    color: #00b2ff;
    background: transparent;
    border: 2px solid #00b2ff;
    margin-left: 15px
}

header.banner nav.nav-primary ul.nav li.ghost a:hover {
    background: #00b2ff;
    color: #fff
}

header.banner #hamburger {
    display: none
}

.banner ul li.menu-item.menu-item-has-children>a:after {
    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

header.banner ul li.menu-item.menu-item-has-children>a:after {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\F107"
}

header.banner ul li.menu-item.menu-item-has-children>a>svg {
    margin-left: 4px;
    opacity: .5;
    display: inline-block
}

header.banner ul li ul.sub-menu {
    display: none
}

header.banner .nav-primary>ul li.menu-item.menu-item-has-children {
    position: relative
}

header.banner .nav-primary>ul li.menu-item.menu-item-has-children>ul.sub-menu {
    display: none;
    position: absolute;
    width: 240px;
    top: 36px;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background: #011628;
    background: -webkit-linear-gradient(top, #011628 15%, #3b0061 95%, #4a0072);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #011628), color-stop(95%, #3b0061), to(#4a0072));
    background: -o-linear-gradient(top, #011628 15%, #3b0061 95%, #4a0072 100%);
    background: linear-gradient(180deg, #011628 15%, #3b0061 95%, #4a0072);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#011628", endColorstr="#4a0072", GradientType=0);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15)
}

header.banner .nav-primary>ul li.menu-item.menu-item-has-children.hover>ul.sub-menu,
header.banner .nav-primary>ul li.menu-item.menu-item-has-children:hover>ul.sub-menu {
    display: inline-block
}


#homehead .description {min-height:400px; padding-top: 100px;}
#homehead .description h2 span {}
#homehead .description h1  {font-size:3.5rem;}


/* MEGAMENU */

#homehead header.banner, #homehead header.banner.solid {
padding: 25px 3% 0px 3%;
background: transparent;
}
#homehead header.banner nav.nav-primary ul.nav li a {
    display: block;
    padding: .5rem 1rem;
}

#homehead header.banner nav.nav-primary ul.nav li.menu-sign-in a {padding: 4px 6px 3px 6px; border-radius: 20px;}

ul.sub-menu li a span.fznew {font-size: 0.8em; padding: 3px 5px; position: relative; left: 9px; background: #ff3366; border-radius: 3px;}
ul.sub-menu li a:hover span.fznew {color:white;}
div.fcontbox span.fznew {font-size: 0.8em; font-weight:300;  padding:4px 5px 3px 5px; position: relative; left: 9px; background: #ff3366; border-radius: 3px;}
section.dark div.fcontbox h3 {color:white}


#mproduct {width:500px; margin: 0; border: none;box-shadow:0 5px 20px rgba(17, 29, 70, 0.62);}
.mblack {background:black;margin: -10px 0; border-radius: 0 0 0 4px;}
.mblue {background:#00B2FF;margin: -10px 0; border-radius: 4px 0 0 4px;}
#mproduct .mblack {}
#mproduct h5 {font-weight:300;text-transform:uppercase;letter-spacing:1px;color:white;opacity:0.4;margin: 34px 0 25px; padding-left: 22px;}
#mproduct div.mblue a.mmitem {margin: 5px 2px;}
#mproduct a.mmitem img {border-radius: 50%;  padding: 10px; width:80px; height: 80px;box-shadow: 0 0 0px 0px #00B2FF;background:transparent;}
#mproduct a.mmitem:hover img {box-shadow: 0 0 0px 4px #00B2FF;transition: all .4s cubic-bezier(.03,.82,.34,.99);background: #0799e4;}
#mproduct a.mmitem p {margin-top: 26px; margin-bottom:0; font-size:1.3em;text-shadow:0 2px 3px rgba(1, 58, 88, 0.38); }
#mproduct a.mmitem:hover p {color:white; text-shadow:none;}
#mproduct #mmlv1 img {box-shadow: 0 0 0px 0px #0799e4;background:transparent;}
#mproduct #mmlv1 a.mmitem {margin-top:9px;}
#mproduct #mmlv1 a.mmitem:hover img {background:#0799e4;}
#mproduct #mmlv2 {border-left: 4px solid #0799e4;position: relative;top: -13px; left:41px; height: 56.3%;}
#mproduct #mmlv2 a.mmitem {margin:0;padding: .1rem 1rem;}
#mproduct #mmlv2 a.mmitem img {height:70px; width:70px; padding: 7px; position: relative;left: -7px;}
#mproduct #mmlv2 a.mmitem:hover img {box-shadow:0 0 0px 0px #0699e4;}
#mproduct #mmlv2 a.mmitem p {text-transform: none;font-size: 1.15em;margin-top:22px; position: relative;left: -14px;}
.mmtick {border-top:4px solid #0799e4;    position: relative; left: -1px; top: 34px;}
.mmtick .mmpoint {width:8px; height:8px; border-radius:50px;background:#0799e4;position:relative;top:-6px;float:right;}

#homehead  video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#homehead .container {
  position: relative;  
}

header.banner .container-fluid  {max-width:1920px;}
/*#homehead header.banner .container-fluid  {max-width:1920px;}*/

#homehead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*
#homehead.dark div.fcontbox {background: -moz-radial-gradient(center, ellipse cover, rgba(9,17,45,0.5) 0%, rgba(23,21,44,0) 74%, rgba(28,23,43,0) 100%);background: -webkit-radial-gradient(center, ellipse cover, rgba(9,17,45,0.5) 0%,rgba(23,21,44,0) 74%,rgba(28,23,43,0) 100%); background: radial-gradient(ellipse at center, rgba(9,17,45,0.5) 0%,rgba(23,21,44,0) 74%,rgba(28,23,43,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8009112d', endColorstr='#001c172b',GradientType=1 );
}
*/


/* End of MEGAMENU */

footer.content-info div.footer-social a .fa-circle path {
    fill: transparent;
    stroke: currentColor;
    stroke-width: 40px
}


.page-header.default {
    padding: 60px 0;
    background: url(/wp-content/themes/fze/dist/images/header-circuit_bcd2db94.jpg) no-repeat 100%;
    background-size: cover
}

body#tinymce {
    margin: 12px!important
}

/**/


body {  
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size:1.0em;
  margin-top: 55px;
}

#fzbody {margin-top:0;}
.fcontainer {max-width:2560px;margin: 0 auto;}

/* WTF WordPress */
p:empty {display: none;}
p a:empty {display: none;}
/* end of WTF WordPress */

p {font-size: 1.1em;}
b, strong {font-weight: bold;}
ul.bulls {list-style: none;}
ul.bulls li::before {content: "\2022"; color:#ff3366;display: inline-block;margin-left: -16px; line-height: 1.1em; font-size: 2em; position: relative; top: 5px;  left: -10px; font-family: rubik; font-weight: 400;}
ul.fbulls {list-style: none; font-size: 1.2em; margin-left: 0; padding-left: 0;}
ul.fbulls li::before {content: "\2022"; color:#ff3366;display: inline-block;margin-left: -16px; line-height: 1.1em; font-size: 2em; position: relative; top: 7px;  left: -10px; font-family: rubik; font-weight: 400;}
ul.fbulls li {margin-bottom:20px;}

a {color:#00B2FF; text-decoration:none; transition: all .4s cubic-bezier(.03,.82,.34,.99);}
a:hover {color:#008fcd;text-decoration:none;}
section {padding:70px 0;}
section.fdark {color:white;}
section.dark {color:white;}
section.dark p.lead {color: white;}
section.dark p.emph, section.dark div.emph {background: rgba(0,0,0,0.8); padding: 1.5em;}

#pagehead {padding: 40px 0 20px 0;}
.page-header.default {background:url(../dist/images/header-circuit.jpg) no-repeat center right; background-size:cover;}


h1, h2, h3, h4, h5 {font-family:'Rubik', sans-serif;}

h1,h2,h3 {font-weight:700;}
/*h1 {font-weight:700;} 
h2, h3, h4, h5 {font-weight:500;}
*/

.h1sub, .h2sub, .h3sub {font-weight:300;  margin: 1em auto;	line-height: 1.43em;}
.h1sub {margin: 0.3em auto;}
.h2sub {}
.h3sub { font-size: 1.3em;}
#hero {padding:40px 0;}
#hero h1 {color:black; font-size: 3.7em; margin-top: 0.8em;}
#hero h2 {font-size: 1.2em; font-family: 'montserrat', sans-serif; margin-top: 30px;max-width:515px; color:#3c4754; font-weight:normal; margin-bottom:60px;}
#hero h2 span {display:block; margin-top:0.5em;}
p.hero {border-left: 3px solid #00B2FF; padding: 0 0 0 20px;}
div.herospace {min-height: 43vh;}

div.fcontent section {}
div.fcontent p {font-size:1.1em; line-height:1.45em;}
div.fcontent p.small {font-size:0.8em;color:#7f8992;}
div.fcontent h2 {}
div.fcontent section h2 {margin-top: 1em;}
div.fcontent h3 {color:black;}
div.fcontent h4 {}
div.fcontent .h1sub, div.fcontent .h2sub, div.fcontent .h3sub  {margin-top:0;}

div.fcontbox {}
div.fcontbox img.ficon {max-height: 160px;}
div.fcontbox img {}
div.fcontbox a {display:block;}
div.fcontbox a:hover img {}
div.fcontbox h2 {color: black; font-size: 1.5em;  margin: 1.3em auto 0.2em;}
div.fcontbox h3 {color: black; font-size: 1.5em;  margin: 1.3em auto 0.2em;}
div.fcontbox h3sub {font-size: 1.3em;  margin: 1.3em auto 0.2em;}
div.fcontbox p {margin-top: 0.3em;font-size:90%;}
div.fcontbox p.lead {margin-top: 0.5em;color:#8406D6; min-height: 80px;    line-height: 1.3em;font-size:1.15em;}

div.fteambox {margin:30px 0;}
div.fteambox img.fphoto {max-height:260px;}
div.fteambox a img {max-height:20px;opacity:0.7;}
div.fteambox a:hover img {opacity:1;}

a.factivebox { 
	display:block; 
	box-shadow: 0 10px 20px rgb(216, 224, 224, 0.5);
 -webkit-appearance: none; 
 -webkit-box-shadow: 0 10px 20px #e6efef;	
    border-radius: 12px;
    margin-bottom: 40px;
    border: 2px solid #e9f1f5;
    padding: 20px;
    background: white;
	}
a.factivebox h4 {}
a.factivebox p {color:black;}
a.factivebox img {}
a.factivebox:hover {box-shadow: 0 2px 10px rgb(216, 224, 224, 0.8); -webkit-box-shadow: 0 2px 10px #e6efef;	}
a.factivebox:hover h4 {}
a.factivebox:hover p {color:#00b2ff;}

div.fbenefit {
background:white;
box-shadow: 0 1px 1px rgba(30,38,107,0.15), 0 2px 2px rgba(30,38,107,0.15), 0 4px 4px rgba(30,38,107,0.15), 0 8px 8px rgba(30,38,107,0.15), 0 16px 16px rgba(30,38,107,0.15);
min-width: 400px;
border-radius: 0 11px 11px 11px;
padding: 0px 30px 30px 0;
margin: 3rem 0;
}
div.fbenefit div.blunum {font-size:16px;font-family:rubik;font-weight:300; width:35px;height:35px;line-height:35px;text-align:center;letter-spacing:1px;color:white;background: #01b2fe;position: relative;left: -35px;}
div.fbenefit img.ficon {position:relative;left:-17px;top: 35px;}
div.fbenefit h3 {margin: 40px 0 20px 0;}
div.fbenefit p.p {margin-bottom:0;}



hr {
	margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);	
	
}

.farrowdown {
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #02b1fe;
    margin: 0 auto;
    position: relative;
    top: 59px;	
}

section.witharrow {padding-bottom:20px;}
section.bgfixed {background-attachment: fixed; box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.16); border-bottom: 1px solid white;}
section.landing-wrapper {background-color: #d6e6f5;}

.pinkplz {color:#FF3366;}
.greenplz {color:#22E8B3;}
.blueplz {color:#00B2FF;}
.purpleplz {color:#8406D6;}
.lightplz {color:#E3F2F0;}
.metalplz {color:#E3EBF2;}
.darkplz {color:#011628;}
.blackplz {color:#000;}

.greenbar {width:120px; height:6px; background:#22E8B3;margin:2em auto;}
.bluebar {width:120px; height:6px; background:#00B2FF;margin:2em auto;}


div.headem {display: block; border-left: 6px solid #01b2fe; position: relative; left: -50px; padding-left: 44px;}
div.headem h3 {margin-top: 0;}
div.headline {}
div.hnum1 {background:url(../dist/images/fnum-01.svg) no-repeat top left;}
img.pscreen, video.pscreen  {box-shadow: 0 10px 20px rgb(216, 224, 224, 0.5); -webkit-appearance: none; -webkit-box-shadow: 0 10px 20px #e6efef; border-radius:12px;margin-bottom: 20px;border: 2px solid #e9f1f5; padding: 20px;    background: white;}


header .navbar {background: #011628; transition: all .15s; border: none; border-bottom: none; padding: 0; font-family:'Rubik', sans-serif;padding: 0;}
header .navbar a {color: white;}
header .navbar a:hover {color: #FF3366;}

#fxlogo img {margin-top: 10px;margin-bottom: 10px;transition: all .2s cubic-bezier(.03,.82,.34,.99);}
ul#topnav, ul#topnav * {margin: 0; padding: 0; list-style: none;}	
ul#topnav li {float: left;position: relative;}
ul#topnav ul {position: absolute;width: 240px;}
ul#topnav .dropdown-menu {border:none;}
ul#topnav .nav-item a {text-transform:uppercase; padding: 18px 22px; display: inline-block;transition:none;transition: all .2s cubic-bezier(.03,.82,.34,.99);}
header.banner.solid {padding: 3px 0;}
header a.brand img.logo {transition: all .4s cubic-bezier(.03,.82,.34,.99);}
header.banner.solid a.brand img.logo {max-width:140px;}
header.banner.solid ul#menu-main-header {}
header.banner.solid  nav.nav-primary ul.nav li.menu-sign-in a {}
ul#topnav .nav-item a:hover {color:#00B2FF;}
ul#topnav .menu-item-has-children  a.dropdown-toggle:after {font-family: FontAwesome; content: "\f107"; display: inline-block; font-style:normal; position: relative; left: 4px; opacity: 0.5;}
ul#topnav ul.sub-menu .menu-item a:after {content:none;}
ul#topnav ul.sub-menu {padding:10px 0;border-radius: 0 0 4px 4px; display:grid;}
ul#topnav ul.sub-menu .nav-item a {font-size:1.0em; line-height:1.1em; text-transform:none;  padding: 12px 22px; display: block;}
ul#topnav .dropdown-toggle:after {border:none;content:none; margin:0;vertical-align: unset;}
header.banner  {font-weight:300;}
header.banner .container-fluid  {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;}
header.banner nav.nav-primary ul.nav li a {}
header.banner nav.nav-primary ul.nav li.menu-sign-in a {border:2px solid #00B2FF; background: transparent; border-radius:20px; padding:3px 6px 2px; font-size: 0.8em;  position: relative; top: 5px;  margin-left: 20px;}
header.banner nav.nav-primary ul.nav li.menu-sign-in a:hover {color:White; background:#00B2FF;}
header.banner nav.nav-primary ul.nav li.menu-my-account a {border:2px solid #00B2FF; background: transparent; border-radius:3px; padding:3px 6px; font-size: 0.8em;  position: relative; top: 5px;  margin-left: 20px;}
header.banner nav.nav-primary ul.nav li.menu-my-account a:hover {color:White; background:#00B2FF;}

#homehead header.banner nav.nav-primary #menu-main-header ul.sub-menu li a, header.banner nav.nav-primary #menu-main-header ul.sub-menu li a {
    font-size: 1.0em;
    line-height: 1.1em;
    text-transform: none;
    padding: 12px 22px;
    display: block;	
}

ul#topnav .megamenu {
    width: 654px;
    height: 240px;    
    color: white;
	border-radius: 0 0 4px 4px;
	border:none;	

}

ul#topnav a.fmegaitem, header.solid ul#topnav a.fmegaitem {display:block; padding: 60px 20px;}
ul#topnav a.fmegaitem p {font-size: 1.2em;  text-transform: none; line-height: 1.1em; margin-top: 10px;}
ul#topnav a.fmegaitem img {transition: all .4s cubic-bezier(.03,.82,.34,.99);}
ul#topnav a.fmegaitem:hover p {}
ul#topnav a.fmegaitem:hover img {transform:scale(1.04,1.04);}


#hmicon {
	width: 35px;
	height: 28px;
	z-index:1000;
	opacity:0.86;
	position:relative;	
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s cubic-bezier(.03,.82,.34,.99);
  -moz-transition: .4s cubic-bezier(.03,.82,.34,.99);
  -o-transition: .4s cubic-bezier(.03,.82,.34,.99);
  transition: .4s cubic-bezier(.03,.82,.34,.99);
  cursor: pointer;
  border:none;background:transparent;
  
}

#hmicon:hover {
	opacity:1;
}


#hmicon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #00B2FF;
  border-radius: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;		
}

#hmicon span:nth-child(1) {
  top: 0px;
}

#hmicon span:nth-child(2),#hmicon span:nth-child(3) {
  top: 12px;
}

#hmicon span:nth-child(4) {
  top: 24px;
}

#hmicon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#hmicon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hmicon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hmicon.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

/*div.xpanded {display:block!important;}*/
div.xpanded {top: 0px !important;}




#fullnav {
    position: fixed;
	font-family:'Rubik', sans-serif;
	font-weight:300;
    z-index: 999;
    width: 100%;    
	top:-1200px;
	color:White;
	padding: 50px 0 30px;
	transition: top .2s cubic-bezier(.03,.82,.34,.99);
	
}
#fullnav h4 {color:white;margin-bottom: 0.8em;text-align:center;}
#fullnav ul.menu {    
    list-style: none;
    padding-left: 0;
    font-size: 0.9em;
	text-align:center;

}
#fullnav ul.menu li a {
    display: block;
    color: White;
    padding: 7px 8px;
	background: #029be02e;
    border-radius: 3px;
    margin-bottom: 5px;
	font-size: 1.15em;

}

#fullnav ul.menu li a:hover {background:#00B2FF;}
#fullnav a.redaction {display:inline-block; border:2px solid #00B2FF; color:white; background: transparent; border-radius:23px; padding:3px 14px; font-size: 1.2em;  position: relative; top: 2px;margin: 0.2em 0 1em;}
#fullnav a.redaction:hover {background:#00B2FF;}
a.fullitem {}
a.fullitem img {background: #00B2FF; border-radius: 50%; padding: 10px; max-height: 77px;margin-bottom:13px;box-shadow:0 0 0px 0px #00B2FF;}
a.fullitem p {color:White;line-height:1.2em;text-transform:uppercase;font-size:1.3em;}
a.fullitem:hover p {color:#00B2FF;}
a.fullitem:hover img {box-shadow:0 0 0px 5px #00B2FF;}

button, .btn {font-family:'Rubik', sans-serif;font-weight: 300;}


a.faction {
    border: 2px solid #FF3366;
	background:#FF3366;
	font-family:'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.35em;
    font-weight: 300;
    height: auto;
    transition: all .2s ease;
	padding: .2em 1.8em;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

a.factionol {
    border: 2px solid #FF3366;
	background:white;
	font-family:'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.35em;
    font-weight: 300;
    height: auto;
    transition: all .2s ease;
	padding: .2em 1.8em;
    color: #011628;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
a.factionol:hover, a.faction:hover { 
background:#E62B5A;
border: 2px solid #E62B5A;
color:white;
}

p.heroquote {border-left:3px solid #00B2FF;font-family:'Rubik', sans-serif; padding: 0 0 0 20px; font-size:1.4em; color:#445563; margin: 3em 0 1em; max-width:560px;}

#hero {background: #E3EBF2; background:url(../dist/images/hero-cloud8.jpg) no-repeat center center; background-size:cover;}
/*#hero {background: #E3EBF2; background:url(../dist/images/hero-cloud6.jpg) no-repeat center center; background-size:cover;}*/
#product {background:#011628;color:white; padding: 70px 0 130px 0;margin-bottom: -100px;}
#features {background:White;padding: 100px 0; margin-top: 250px;}
#numbers {color:white;padding: 70px 0;}
#quotes {padding: 100px 0 30px;}
#customers {padding: 0;}
#integration {padding: 100px 0 0; background:White;}
#enterprise {padding: 100px 0; background:White;}
#fxform {padding: 70px 0 0;}
section.tldr {padding:50px 0;}
section.tldr h2 {margin-bottom:0.8em;}
blockquote {border-left:3px solid #21e8b3;font-family:'Rubik', sans-serif; padding: 0 0 0 20px; font-size:1.5em; color:#445563; margin: 3em auto; max-width:600px;}
#numbers h2 {color:White;}
#numbers .fnumber img {max-height: 130px;}
#homeresources {padding: 70px 0 0;}

a.fxbbox {color:white;display:block;}
a.fxbbox .fximg img {max-height:150px;transition: all .6s cubic-bezier(.03,.82,.34,.99);}
a.fxbbox h3 {font-size:1.5em;line-height: 1.3em; margin: 1.4em auto 2.6em;transition: all .6s cubic-bezier(.03,.82,.34,.99);}
a.fxbbox h3 span {font-weight:300;}
a.fxbbox p {color:#E3F2F0; font-size: 1.1em; }
a.fxbbox p.lmore {font-family:'Rubik', sans-serif; font-weight:300;  font-size:1.4em;color:#FF3366;margin:3em auto 1em;transition: all .6s cubic-bezier(.03,.82,.34,.99);}
a.fxbbox:hover {cursor:pointer;/*transform: scale(1.05,1.05);*/}
a.fxbbox:hover p {color:#00B2FF;}
a.fxbbox:hover h3 {color:#00B2FF;}
a.fxbbox:hover img {transform:scale(1.04,1.04);}
a.fxbbox:hover p.lmore {color:#00B2FF;}

iframe {
    width: 100%;
    height: 100%;
}

#vidsrc	{padding: 20px; position: absolute; top: 0; left: 0;}

div.videobox {
	height: 400px;
    background: white;
    width: 680px;
    border-radius: 11px;
	padding:20px;
    margin: 0 auto;
    position: relative;
    bottom: -328px;
    box-shadow: 0 10px 20px #a9b5b580;
	-webkit-appearance: none; 
	-webkit-box-shadow: 0 10px 20px #a9b5b580;	
	
	margin-top: -250px; /*equals minus #features margin top*/
}

div.demobox {
height: 400px;
background: white;
min-width: 400px;
border-radius: 11px;
padding: 20px;
margin: 0 auto;
box-shadow: 0 10px 20px rgb(216, 224, 224, 0.5);
-webkit-appearance: none; 
-webkit-box-shadow: 0 10px 20px #e6efef;	
margin-bottom:40px;
}

div.demobox iframe {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    height: 100%;
    padding: 20px;
}

div.resvideobox {
height: 450px;
background: white;
min-width: 400px;
border-radius: 11px;
padding: 20px;
margin: 0 auto;
box-shadow: 0 10px 20px rgb(216, 224, 224, 0.5);
-webkit-appearance: none; 
-webkit-box-shadow: 0 10px 20px #e6efef;	
margin-bottom:40px;
margin-top:20px;
}

div.resvideobox iframe {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    height: 100%;
    padding: 20px;
}


img.img-brochure {background:#fff; padding:16px; box-shadow: 0 10px 20px rgba(177, 187, 187, 0.5);-webkit-appearance: none;-webkit-box-shadow: 0 10px 20px #c6cece;border-radius:9px; max-height: 390px; margin-top: 40px;}

div#resources {}
#resource-filter {position: relative; top: -20px;    font-family: 'rubik', sans-serif;font-size: 1.3em;}
#resource-filter a.nav-link {display: inline-block; padding: 11px; background: #f5fbfa; margin: 0 10px 10px 0; border-radius: 7px;}
#resource-filter a.nav-link:hover {background: #00b2ff; color: white;}
#resource-filter a.nav-link.active {background: #00b2ff; color: white;}

div.fxbox, a.fxbox  {margin: 30px auto;}
div.fxbox .fximg, a.fxbox .fximg { max-width:  200px; margin: 0 auto;}
div.fxbox .fximg img, a.fxbox .fximg img {}
div.fxbox h3, a.fxbox h3 {color:black;  font-size: 1.5em; margin: 1.3em auto 0.5em;}
a.fxbox:hover h3 {color:#00b2ff;}
div.fxbox h3 span, a.fxbox h3 span {}
div.fxbox p, a.fxbox p {font-size: 1.2em; max-width: 390px; margin: 0 auto;}
div.fxbox a.lmore, a.fxbox p.lmore {display:block; font-family:'Rubik', sans-serif; font-weight:300;  font-size:1.3em; margin:1em auto 1em;transition: all .6s cubic-bezier(.03,.82,.34,.99);}

p.fxquote {padding: 0 0 0 40px;  font-size: 1.3em;  border-left: 4px solid #22E8B3;  margin: 3em auto 2em;  text-align: left;  font-style: italic;}
p.fxcustomer {text-align:right; font-family:'Rubik', sans-serif; font-size:1.3em;font-weight:300;}
p.fxcustomer span {font-size:1.0em;}
div.clientlogo {max-width: 155px; margin: 20px auto;}
div.clientlogo img {}

div.integrlogo {max-width: 184px; margin: 20px auto;}
div.integrlogo img {}

div.featured-image {margin-bottom:30px;}
div.featured-image img {}

article.post {margin-bottom:80px;}
article.type-post {max-width: 795px;}
div.blog-list article.type-post {margin-bottom: 3.5em;}
div.blog-list article.type-post {max-width: inherit;}
article.post a.blog-item {border-radius:20px;display:block;}
div.blog-list article.post a.blog-item {margin:0;}
div.blog-list article.post a.blog-item p {margin:0;}
div.blog-list article.post a.blog-item:hover p {color:#008fcd;}
article.post a.blog-item:hover {}
article.post a.blog-item h2 {color: #011628;display: block; line-height: 1.3em;font-size: 1.5em;margin: 1.0em 0 0.5em;}
div.blog-list article.post a.blog-item h2 {margin-top:0;}
article.post a.blog-item:hover h2 {color:#008fcd;transition: all 0.1s ease-out;}
article.post a.blog-item div.post-img {overflow:hidden;transition: all 2s ease-out;min-height:180px;max-width:90%; background-size: 105%; background-color: #e3ebf2; background-repeat: no-repeat; background-position: center; border-radius:5px; box-shadow:inset 0 0 20px rgba(196, 209, 220, 0.5);}
article.post a.blog-item:hover div.post-img {background-size: 130%;transition: all 2s ease-out;}
div.blog-list article.post a.blog-item div.post-img {overflow:hidden;transition: all 2s ease-out;min-height:180px;max-width:90%; background-size: cover; background-color: #e3ebf2; background-repeat: no-repeat; background-position: center; border-radius:5px; box-shadow:inset 0 0 20px rgba(196, 209, 220, 0.5);}
div.blog-list article.post a.blog-item:hover div.post-img {background-size: cover;transition: all 2s ease-out;}
article.post a.blog-item p {color:#445563;}
article.post a.blog-item:hover p {color:#445563;}
article.post a.blog-item p.post-meta {color:#7f8992;font-size: 0.9em; margin-bottom: 0.5rem;}
article.post a.blog-item p.post-meta time {}
article.post a.blog-item div.post-img p.post-meta time {background: #04b2ff; padding: 3px 9px; border-radius: 0 0 5px 0; display: inline-block; color: white;}
article.post a.blog-item p.post-meta span.author {}

article.post div.post-preview {}
article.post div.post-preview p a, article.post a div.post-preview p {color:#445563;}

article.post div.entry-content div.featured-image img {}
article.post div.entry-content img {max-width: 100%; height: auto; margin: 30px 0;}
div.pagination .page-link {color:#00B2FF;}
div.pagination .page-link:hover {color:#008fcd;}
div.pagination .page-link:hover {color:#008fcd;}
div.pagination span.page-link.current {color:black;}

body.sidebar-primary .wrap .content aside.sidebar {
    padding: 0 5px 0 25px;
    margin: 0 0 0 35px;
    min-width: 280px;
	width: 280px;
}

body.sidebar-primary .wrap .content main {
    padding-right: 35px;
}

body.sidebar-primary .wrap .content {
    display: flex;
}

body.sidebar-primary .wrap .content aside.sidebar section:first-child {padding: 70px 0 0px;}
body.sidebar-primary .wrap .content aside.sidebar section {padding: 40px 0 0px;clear: both;}
body.sidebar-primary .wrap .content aside.sidebar h3 {font-weight: 300; background: #e3ebf2;font-size:1.3rem;padding:10px;margin-bottom:27px;}
body.sidebar-primary .wrap .content aside.sidebar p {font-size:1em;}
body.sidebar-primary .wrap .content aside.sidebar section.categories-2 ul {list-style: none; margin: 0; padding: 0;font-family: 'rubik', sans-serif;}
body.sidebar-primary .wrap .content aside.sidebar section.categories-2 ul li {float: left;}
body.sidebar-primary .wrap .content aside.sidebar section.categories-2 ul li a {display: inline-block; padding: 3px 6px; background: #f5fbfa; margin: 0 15px 16px 0; border-radius: 4px;}
body.sidebar-primary .wrap .content aside.sidebar section.categories-2 ul li a:hover {background: #00b2ff; color: white;}

aside.sidebar #lps {}
aside.sidebar #lps img {}
aside.sidebar #lps a {font-size: 1.1em; color: #1c7094;}
aside.sidebar #lps a:hover {color: #008fcd;}


#sb-demo {padding-top: 15px;background: #011e35 url(../dist/images/sb-demo-bg.jpg) no-repeat center right;text-align: center; background-size: cover;}
#sb-demo h3 {font-size: 1.7em;margin: 0.0em 0 6em; color:white;font-weight:400;background: none;}
#sb-demo h3 span {font-size:0.8em;display:block;}
#sb-demo a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a {
	border: 2px solid #FF3366;
    background: #FF3366;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.15em;
    font-weight: 400;
    height: auto;
    transition: all .2s ease;
    padding: 7px 20px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
	text-transform:none;	}
#sb-demo a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a:hover {background: #E62B5A; border: 2px solid #E62B5A; color: white;}



body.sidebar-primary .wrap .content aside.sidebar #fxformbox {box-shadow: none; padding: 0; font-size: 0.8em; border-radius: 0;min-height: inherit;}
body.sidebar-primary .wrap .content aside.sidebar #fxformbox input.hs-input, 
body.sidebar-primary .wrap .content aside.sidebar #fxformbox optgroup.hs-input, 
body.sidebar-primary .wrap .content aside.sidebar #fxformbox select.hs-input, 
body.sidebar-primary .wrap .content aside.sidebar #fxformbox textarea.hs-input {width:96%;    padding: 0px 6px;}
body.sidebar-primary .wrap .content aside.sidebar #fxformbox .stacked .field {margin-bottom: 11px;}
body.sidebar-primary .wrap .content aside.sidebar #fxformbox [type=reset], 
body.sidebar-primary .wrap .content aside.sidebar #fxformbox [type=submit], 
body.sidebar-primary .wrap .content aside.sidebar #fxformbox button.hs_button, 
body.sidebar-primary .wrap .content aside.sidebar #fxformbox html [type=button] {margin-top:10px;padding: 10px;}

img.size-full {max-height:600px;}
img.alignnone {max-height:600px;}



div#resources a {}
div#resources a div.card {
	background: #fff;
    border: none;
    margin-bottom: 40px;
    padding: 16px;
	border-radius: 9px;
	min-height: 280px;
	transition: all 0.2s ease-out;
	box-shadow: 0 10px 20px rgb(216, 224, 224, 0.5);
	-webkit-appearance: none; 
	-webkit-box-shadow: 0 10px 20px #e6efef;
	
}
div#resources a:hover div.card {box-shadow: 0 2px 10px rgb(216, 224, 224, 1.0);	-webkit-box-shadow: 0 2px 10px #e6efef;} 
div#resources a div.card img.card-img-top {opacity: 0.8;border-radius:3px;transition: opacity 0.2s ease-out;} 
div#resources a:hover div.card img.card-img-top {opacity: 1.0;} 
div#resources a div.card div.card-body {padding: 0;}
div#resources a div.card div.card-body h5 {color: #323d46; font-size: 1em;margin-top:1em;transition: color 0.2s ease-out;}
div#resources a:hover div.card div.card-body h5 {color:#008fcd;}

#homeresources #resources a div.card {min-height:400px}
#homeresources #resources a div.card img.card-img-top  {opacity:1.0;margin:0 auto;}
#homeresources #resources a div.card div.card-body h5  {min-height: 39px;}
#homeresources #resources a div.card div.card-body p {color:#546371;font-size: 0.9em;margin-top:25px;margin-bottom:0;}
#homeresources #resources a:hover div.card div.card-body p {color:#008fcd;}


div.fresource {}
div.fresource a {}
div.fresource a.faction {margin-top: 0;}
div.fresource a:first-child a	{display:block;}
div.fresource a:first-child img	{max-height:260px;background: #fff;display:block; border: none; margin: 0 auto 40px auto; padding: 16px; border-radius: 9px; min-height: 270px; transition: all 0.2s ease-out; box-shadow: 0 10px 20px rgb(216, 224, 224, 0.5);	-webkit-appearance: none; -webkit-box-shadow: 0 10px 20px #e6efef;	}

div.fresource a img {}	

section.bggeneric {background:url(../dist/images/header-cloud2.jpg) no-repeat bottom center; background-size:cover;}
section.bgmecha {background:url(../dist/images/header-mecha.jpg) no-repeat center center; background-size:cover;}
section.bgcloud {background:url(../dist/images/header-cloud3.jpg) no-repeat center right; background-size:cover;}
section.bgcircuit {background:url(../dist/images/header-circuit.jpg) no-repeat center right; background-size:cover;}
section.bgbrowsers {background:url(../dist/images/header-browsers.jpg) no-repeat center right; background-size:cover;}
section.bgmobile1 {background:url(../dist/images/header-mobile.jpg) no-repeat center right; background-size:cover;}
section.partnersl {background:url(../dist/images/header-plexus-light.jpg) no-repeat center right; background-size:cover;}
section.partnersm {background:url(../dist/images/header-mauntain.jpg) no-repeat center right; background-size:cover;}
section.partnersd {background:url(../dist/images/header-plexus-dark.jpg) no-repeat center right; background-size:cover;}
section.people1 {background:url(../dist/images/header-people.jpg) no-repeat center right; background-size:cover;}

section.darklaptop {background: #011628; background:url(../dist/images/darkheader-laptop-ui.jpg) no-repeat center right; background-size:cover;}
section.darkalp {background: #011628; background:url(../dist/images/darkheader-alp.jpg) no-repeat center right; background-size:cover;}
section.darkcircuit {background: #011628; background:url(../dist/images/darkheader-circuit.jpg) no-repeat center right; background-size:cover;}
section.darkaichip {background: #011628; background:url(../dist/images/darkheader-ai-chip.jpg) no-repeat center right; background-size:cover;}
section.darkaichip2 {background: #011628; background:url(../dist/images/darkheader-ai-chip2.jpg) no-repeat center right; background-size:cover;}
section.darkmobile1 {background: #011628; background: url(/wp-content/themes/fz2019/dist/images/darkheader-mobile1.jpg) no-repeat center right; background-size: cover;}
section.darkmobile2 {background: #011628; background: url(/wp-content/themes/fz2019/dist/images/darkheader-mobile2.jpg) no-repeat center center; background-size: cover;}
section.bgselenium {background: #011628; background:url(../dist/images/darkheader-selenium.jpg) no-repeat center right; background-size:cover;}
section.bguiwhite-static {background: #e9f1f4;  background: url(/wp-content/themes/fz2019/dist/images/fullground-UI-whiteGI.jpg) no-repeat center center; background-size: cover;  background-attachment: fixed;}
section.bguiwhite2-static {background: #e9f1f4;  background: url(/wp-content/themes/fz2019/dist/images/fullground-UI-whiteGI-light.jpg) no-repeat center center; background-size: cover;  background-attachment: fixed;}
section.bgrobotic-static {background: #18242e;  background: url(/wp-content/themes/fz2019/dist/images/fullground-robotic.jpg) no-repeat center center; background-size: cover;  background-attachment: fixed;}
section.bgroomba-alp-static {background: #18242e;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-roomba-alp.jpg) no-repeat center center; background-size: cover;background-attachment: fixed;}
section.darkcloudtype {background: #18242e;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-darkcloud-type.jpg) no-repeat center center; background-size: cover;}
section.darkdevops1 {background: #011628;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-devops1.jpg) no-repeat center center; background-size: cover;}
section.darkdevops2 {background: #011628;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-devops2.jpg) no-repeat center center; background-size: cover;}
section.darkaibrain-static {background: #011628;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-ai-brain.jpg) no-repeat center center; background-size: cover;background-attachment: fixed;}
section.darkaibrain1 {background: #011628;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-ai-brain1.jpg) no-repeat center center; background-size: cover;}
section.darkaibrain2 {background: #011628;  background: url(/wp-content/themes/fz2019/dist/images/darkheader-ai-brain2.jpg) no-repeat center center; background-size: cover;}

div.fz404 {min-height:700px;}
div.fofsearch {}
div.fofsearch  form.search-form {padding: 20px;background: rgba(73, 115, 184,0.5);width: 100%;border-radius: 10px;}
div.fofsearch  form.search-form input[type=search] {border-radius: 5px 0 0 5px;border: none;font-size: 1.3rem; width:75%}
div.fofsearch  form.search-form input[type=submit] {font-size: 1.3rem;  border-radius: 0 5px 5px 0; font-family: rubik; font-weight: 300; padding: 0.375rem 1rem; background: #22E8B3; border-color: #22E8B3;width: 25%;}
div.fofsearch  form.search-form input[type=submit]:hover {background: #1FC89B; border-color: #1FC89B;}


.fcontent .landing-wrapper {}
.fblog .landing-wrapper {}
.leveltwo .landing-wrapper {}


.masthead h1 {}
.masthead h2 {}
.masthead h2.h1sub {margin-bottom:1em;max-width: 660px; margin-left:0; margin-right:0; font-size:1.5em; }
.masthead p.lead {max-width: 660px; color: black; font-size: 1.2em; text-shadow: 0px 1px 0 rgba(255,255,255,0.5);}


footer {background:#20202C;color:White;padding:0;}
footer.content-info h6 {color:White;text-transform:uppercase;font-size:1em;font-family:'Rubik', sans-serif; font-weight:500;}
footer.content-info .greenbar {margin-left:0;height: 4px; width: 95px;}
footer.content-info .ftdark {background:black;padding-top:60px;padding-bottom:60px; padding-right: 0; padding-left: 30px;}
footer.content-info .ftlight {padding-top:60px;padding-bottom:60px;}

footer .factionol {background:#1f1f2b;color:white;margin: 2em 0 3em 0;}
footer .factionol:hover {background:black;color:#00B2FF;}
div.f_logo {margin-top: -22px;  max-width: 204px;}
footer.content-info p.f_phone {font-size:27px;color:#E3F2F0;margin:20px 0 0;font-family:'Rubik', sans-serif;font-weight:300;}
footer.content-info p.f_address {color:#98a2a1;}
div.footer-social {}
div.footer-social a {color: #98a2a1;}
div.footer-social a i {}
div.footer-social a:hover i {color:#00B2FF;}
.fmenubox {position: relative;left: 17px;}

footer.content-info ul.menu {font-family:'Rubik', sans-serif; font-weight:300; list-style: none; padding-left: 0;font-size:0.9em;}
footer.content-info ul.menu li {}
footer.content-info ul.menu li a {display:block;color:White; padding:8px 0;}
footer.content-info ul.menu li a:hover {color:#00B2FF;}

div.footer-copy {padding-top:30px;}
div.footer-copy p {color:#828288; margin-top: 38px;}
footer.content-info div.footer-copy p {margin-top: 16px;}
div.footer-copy p a {color:#00B2FF; font-size:0.9em;opacity: 0.5;}
div.footer-copy p a:hover {opacity: 0.8;}

div.schchat {text-align:Center; margin-bottom:40px;}
div.schchat a {display:block;}
div.schchat a img {max-height:130px; transition: all .4s cubic-bezier(.03,.82,.34,.99);}
div.schchat a p {}
div.schchat a:hover {}
div.schchat a:hover img {transform:scale(1.04,1.04);}



ul#topnav a.fmegaitem img {transition: all .4s cubic-bezier(.03,.82,.34,.99);}
ul#topnav a.fmegaitem:hover p {}
ul#topnav a.fmegaitem:hover img {transform:scale(1.04,1.04);}


/* BIG FAT FORM */

#fxformbox {background:white;border-radius: 15px 15px 0 0;  padding: 30px; box-shadow: 0 -10px 31px rgba(169, 197, 190, 0.5); min-height: 590px;}
#fxformbox h2 {font-size:1.5em; margin-bottom: 1em;}
#fxformbox p:last-child {}
#fxformbox p:last-child br {display:none;}
#fxformbox div.actions {text-align:right; margin-top: 0; padding: 0;}
#fxformbox ul.inputs-list {list-style: none; margin: 0; padding: 0;}

#fxformbox input.hs-input, #fxformbox optgroup.hs-input, #fxformbox select.hs-input, #fxformbox textarea.hs-input {
	background: #f4f7f9;
    border: none;
    border-radius: 5px;
    width:98%;
    font-size: 1.3em;
    padding: 9px;
    font-family: 'Montserrat', sans-serif;
	min-height: 36px;
    color: black;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	transition: border 0.2s linear,box-shadow 0.2s linear;
}

#fxformbox html [type=checkbox] {box-shadow:none;}
#fxformbox label {font-family:'Rubik', sans-serif; color:#6b7781; margin-bottom: 0; margin-top: 14px; font-weight: normal; font-size: 1.0em; text-align:left;font-weight:300;}
#fxformboxc input.hs-input[type=radio] { width: inherit; box-shadow: none; float: left; margin-right: 10px; position: relative; top: -3px;}
#fxformbox [type=reset], #fxformbox [type=submit], #fxformbox button.hs_button, #fxformbox html [type=button] {
	text-align:right;
    border: 2px solid #22E8B3;
	background:#22E8B3;
	font-family:'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.4em;
    font-weight: 300;
    height: auto;
    transition: all .2s ease;
	padding: 5px 50px;
    color: #fff;
    text-align: center;
    margin-top: 35px;
	cursor:pointer;
	max-width:260px;
	box-shadow:none;
	text-shadow:none;
	position: relative;
    right: 10px;

}



#fxformbox [type=reset]:hover, #fxformbox [type=submit]:hover, #fxformbox button:hover, #fxformbox html [type=button]:hover {
    border: 2px solid #1FC89B;
	background:#1FC89B;	
	
}



/* SMALLER COMPLEX FORM */

#fxformboxc {background:white;border-radius: 15px 15px 0 0;  padding: 30px; box-shadow: 0 -10px 31px rgba(169, 197, 190, 0.5); min-height: 600px;}
#fxformboxc h2 {font-size:1.5em; margin-bottom: 1em; margin-top: 0.5em;}
#fxformboxc p:last-child {}
#fxformboxc p:last-child br {display:none;}
#fxformboxc div.actions {text-align:right; margin-top: 0; padding: 0;}
#fxformboxc ul.inputs-list {list-style: none; margin: 0; padding: 0;}

#fxformboxc input.hs-input, #fxformboxc optgroup.hs-input, #fxformboxc select.hs-input, #fxformboxc textarea.hs-input {
	background: #f4f7f9;
    border: none;
    border-radius: 3px;
    width:98%;
    font-size: 1.0em;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
	min-height: 25px;
    color: black;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	transition: border 0.2s linear,box-shadow 0.2s linear;}
	
#fxformboxc html [type=checkbox] {box-shadow:none;}
#fxformboxc label {font-family:'Rubik', sans-serif; color:#6b7781; margin-bottom: 0; margin-top: 10px; font-weight: normal; font-size: 1.0em; text-align:left;font-weight:300;line-height:1.2em;}
#fxformboxc input.hs-input[type=radio] { width: inherit; box-shadow: none; float: left; margin-right: 10px; position: relative; top: -3px;}
#fxformboxc [type=reset], #fxformboxc [type=submit], #fxformboxc button.hs_button, #fxformboxc html [type=button] {
	text-align:right;
    border: 2px solid #22E8B3;
	background:#22E8B3;
	font-family:'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.2em;
    font-weight: 300;
    height: auto;
    transition: all .2s ease;
	padding: 5px 30px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
	cursor:pointer;
	max-width:300px;
	box-shadow:none;
	text-shadow:none;
	position: relative;
    right: 10px;
}

#fxformboxc [type=reset]:hover, #fxformboxc [type=submit]:hover, #fxformboxc button:hover, #fxformboxc html [type=button]:hover {
    border: 2px solid #1FC89B;
	background:#1FC89B;	
	
}
#fxformboxc select {height:34px;}
#fxformboxc .field {margin-bottom:6px;}
#fxformboxc ul.inputs-list multi-container {}
#fxformboxc li.hs-form-checkbox {}
#fxformboxc li.hs-form-checkbox label {}
#fxformboxc li.hs-form-checkbox input {float: left; width: 20px!important;box-shadow: none;}
#fxformboxc li.hs-form-checkbox span {float: left; padding-left: 10px;}
#fxformboxc fieldset {max-width:inherit;}


ul.hs-error-msgs {display: block; padding-left: 10px; font-size: 0.85em; margin-bottom: 0;background: #f3e8f5;}
span.hs-form-required {color:red;}


.tooltip-inner {
    max-width: 260px;
    padding: 10px 16px;
    color: #fff;
	font-size:1.5em;
    text-align: center;
    background-color: #ef2369;
    border-radius: .5rem;
	position:relative;
	top:0px;	
}


.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before, .tooltip.tooltip-top .tooltip-inner::before {
	display:none;
	bottom: 0;
    left: 50%;
    margin-left: -5px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #ef2369;
}


/* HUBSPOT CTAs */

#hero a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a, #homehead a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a {
    border: 2px solid #FF3366;
    background: #FF3366;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.15em;
    font-weight: 300;
    height: auto;
    transition: all .2s ease;
    padding: .4em 1.8em;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
	text-transform:none;	
}

#hero a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a:hover, #homehead a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a:hover {background: #E62B5A; border: 2px solid #E62B5A; color: white;}

#hero a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8, #homehead a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8 {
    border: 2px solid #FF3366;
    background: transparent;
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    border-radius: 23px;
    font-size: 1.15em;
    font-weight: 300;
    height: auto;
    transition: all .2s ease;
    padding: .4em 1.8em;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;	
}

#hero a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8:hover, #homehead a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8:hover {background: #E62B5A; border: 2px solid #E62B5A; color: white;}
#hero a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a span strong, #hero a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8 span strong {font-weight:normal;}

/* GDRP */
div#notice {background: #1a3d5a; padding: 20px; color: white; position: fixed; bottom: 0; left: 0; right: 0; font-size: smaller; z-index: 9999999; display: none;box-shadow: 0 -7px 11px rgba(0,0,0,1);}
div#notice button.close {}
div#notice container {}
div#notice container a {}
div#notice container a:hover {}
.modal-content {position: relative; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; outline: 0;}
.modal-header {padding: 15px; border-bottom: 1px solid #e5e5e5;}
.modal-body {position: relative; padding: 15px;}   
.modal-footer {padding: 15px; text-align: right; border-top: 1px solid #e5e5e5;}

/* CAROUSEL */
#quorousel .carousel-inner {min-height:340px;}
#quorousel .carousel-item-next, .carousel-item-prev, .carousel-item.active {display:block;}
#quorousel .carousel-control-next-icon, .carousel-control-prev-icon {background:none; position:relative; top:-30px;}

#blogousel {background: rgba(255,255,255,0.4); padding: 10px;padding:20px 10px 10px 40px;min-height:190px;}
#blogousel .carousel-inner {min-height:220px;}
#blogousel .carousel-indicators {}
#blogousel .carousel-indicators li {height:10px; width:50px;background:#93dfff;border-width: 0;}
#blogousel a.factionol {font-size:1em;}

/* Landing Pages */
p.pnmb {margin-bottom: 30px; text-indent: -40px;}
p.pnmb span {    text-indent: 0; font-family:'Rubik'; display: inline-block;width: 40px; height: 40px; margin-bottom: -8px; background: #04b2ff; color: white; text-align: center; padding: 7px 0; border-radius: 50%; margin-right: 0; position: relative; top: 0px; left: -10px;}
div.ftabs ul.nav-tabs {border:none;font-family:'Rubik';}
div.ftabs ul.nav-tabs li {}
div.ftabs ul.nav-tabs li a {padding: 10px 20px;  display: block;  background: #e3f2f0;  font-size: 1.3em;  font-weight: 300; border-radius: 10px 10px 0 0; margin: 0 10px;}
div.ftabs ul.nav-tabs li a:hover {}
div.ftabs ul.nav-tabs li a.active {background: #04b2ff;color: white;}
div.ftabs .tab-content {padding-top:40px;border-top: 4px solid #04b2ff;}
div.ftabs .tab-content .tab-pane {}
div.ftabs .tab-content .tab-pane .fade {}
div.ftabs .tab-content .tab-pane .fade .active {}
div.ffeature {    margin-bottom: 40px;}
div.ffeature img {}
div.ffeature a.factionol {margin-top: 7px; font-size:1.05em;}

header.banner .container a.portal img.portallogo {width: 134px; height: 30px;position: relative; left: -50px;}
p.fzbadge {padding: 30px; font-size: 2em; font-family: "Rubik"; font-weight: 300; display: inline-block; position: relative; top: -50px; left: -40px;}
div.darkcircle {background:#011628; padding:20px; border-radius:50%;max-width: 175px; margin: 0 auto 20px;}


/* PARTNER PORTAL */
#fxformboxc .gform_wrapper ul.gform_fields li.gfield {padding-right: 0;}
#fxformboxc select, #fxformboxc .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {    
    background: #f4f7f9;
    border: none;
    border-radius: 3px;
    font-size: 1.0em;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    min-height: 25px;
    color: black;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    transition: border 0.2s linear,box-shadow 0.2s linear;}
#fxformboxc .gform_wrapper textarea.medium {
    background: #f4f7f9;
    border: none;
    border-radius: 3px;
    font-size: 1.0em;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    transition: border 0.2s linear,box-shadow 0.2s linear;}
div.gform_footer {text-align:right;}
#fxformboxc [type=submit]  {right: 0; margin-right: 0;}
#fxformboxc label {margin-top:0;}
#fxformboxc .gform_wrapper .field_description_below .gfield_description {padding-top:6px; color:#73a8ba}


table.gv-table-view tfoot {display:none}
table.gv-table-view td span.gv-approval-disapproved {font-weight:bold; color:#b10d0e;}
table.gv-table-view td span.gv-approval-approved {font-weight:bold; color:#3daa18;}
table.gv-table-view td span.gv-approval-unapproved {color:#e4a911;}
table.gv-table-view-content th {text-align:right;line-height:1.2em;padding-bottom:15px;}
table.gv-table-view-content td {line-height:1.2em;padding-bottom:15px; padding-left:20px; font-size:1.2em; background:#fafafa; border-bottom:3px solid white;}
table.gv-table-view-content td::first-child {background:white;}
table.gv-table-view-content td p {font-size:1.0em;}
table.gv-table-view-content th span.gv-field-label {font-weight:300; font-family:'Rubik'; color:#438192;text-align:right;}
table.gv-table-view-content td span {color:black;}





/* GRADIENTS */
.grd_purp-blue_vert {
background: #8406d6; 
background: -moz-linear-gradient(top, #8406d6 0%, #00b2ff 100%); 
background: -webkit-linear-gradient(top, #8406d6 0%,#00b2ff 100%); 
background: linear-gradient(to bottom, #8406d6 0%,#00b2ff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8406d6', endColorstr='#00b2ff',GradientType=0 ); }
.grd_purp-blue_horiz {
background: #8406d6; 
background: -moz-linear-gradient(left, #8406d6 0%, #00b2ff 100%); 
background: -webkit-linear-gradient(left, #8406d6 0%,#00b2ff 100%); 
background: linear-gradient(to right, #8406d6 0%,#00b2ff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8406d6', endColorstr='#00b2ff',GradientType=1 ); }


.grd_metal-white_vert {
background: #e3ebf2; 
background: -moz-linear-gradient(top, #e3ebf2 0%, #ffffff 70%); 
background: -webkit-linear-gradient(top, #e3ebf2 0%,#ffffff 70%); 
background: linear-gradient(to bottom, #e3ebf2 0%,#ffffff 70%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ebf2', endColorstr='#ffffff',GradientType=0 ); }

.grd_white-metal_vert {
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #e3ebf2 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#e3ebf2 100%);
background: linear-gradient(to bottom, #ffffff 0%,#e3ebf2 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3ebf2',GradientType=0 );}

.grd_metal-light_vert {
background: #e3f2f0; 
background: -moz-linear-gradient(top, #e3f2f0 1%, #e3ebf2 100%); 
background: -webkit-linear-gradient(top, #e3f2f0 1%,#e3ebf2 100%); 
background: linear-gradient(to bottom, #e3f2f0 1%,#e3ebf2 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f2f0', endColorstr='#e3ebf2',GradientType=0 ); }


.grd_light-white_vert {
background: #e3f2f0; 
background: -moz-linear-gradient(top, #e3f2f0 1%, #ffffff 70%); 
background: -webkit-linear-gradient(top, #e3f2f0 1%,#ffffff 70%); 
background: linear-gradient(to bottom, #e3f2f0 1%,#ffffff 70%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f2f0', endColorstr='#ffffff',GradientType=0 ); 
}
.grd_light-green_horiz {
background: #e3f2f0; 
background: -moz-linear-gradient(left, #e3f2f0 30%, #22e8b3 100%); 
background: -webkit-linear-gradient(left, #e3f2f0 30%,#22e8b3 100%); 
background: linear-gradient(to right, #e3f2f0 30%,#22e8b3 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f2f0', endColorstr='#22e8b3',GradientType=1 ); }

.grd_dark-deepurple_vert {
background: #011628;
background: -moz-linear-gradient(top, #011628 15%, #3b0061 95%, #4a0072 100%); 
background: -webkit-linear-gradient(top, #011628 15%,#3b0061 95%,#4a0072 100%); 
background: linear-gradient(to bottom, #011628 15%,#3b0061 95%,#4a0072 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011628', endColorstr='#4a0072',GradientType=0 ); 
}
.grd_dark-deepblue_vert {
background: #011628;
background: -moz-linear-gradient(top, #011628 32%, #065786 100%); 
background: -webkit-linear-gradient(top, #011628 32%,#065786 100%); 
background: linear-gradient(to bottom, #011628 32%,#065786 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011628', endColorstr='#065786',GradientType=0 ); 			
}

.grd_light-green_horiz2 {
    background: #e3f2f0;
    background: -moz-linear-gradient(left, #e3f2f0 30%, #e3e9f2 100%);
    background: -webkit-linear-gradient(left, #e3f2f0 30%,#e3e9f2 100%);
    background: linear-gradient(to right, #e3f2f0 30%,#e3e9f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f2f0', endColorstr='#e3e9f2',GradientType=1 );
}

.grd_purple-to-red {
	background: #6f02b7;
    background: -moz-linear-gradient(left, #6f02b7 0%, #ff3366 100%);
    background: -webkit-linear-gradient(left, #6f02b7 0%,#ff3366 100%);
    background: linear-gradient(to right, #6f02b7 0%,#ff3366 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f02b7', endColorstr='#ff3366',GradientType=1 );
}

.grd_purple-to-dark-horiz {
background: rgb(111,2,183);
background: -moz-linear-gradient(left,  rgba(111,2,183,1) 1%, rgba(1,22,40,1) 100%);
background: -webkit-linear-gradient(left,  rgba(111,2,183,1) 1%,rgba(1,22,40,1) 100%);
background: linear-gradient(to right,  rgba(111,2,183,1) 1%,rgba(1,22,40,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f02b7', endColorstr='#011628',GradientType=1 );
}


@media (max-width: 575px) { 
.mob-overflow {overflow-x: hidden;}
body{margin-top: 0;}
section {padding: 40px 0;}
.fixed-top {position: unset;}
h1 {font-size:2em;}
h2 {font-size:1.8em;}
.h1sub {font-size: 1.6em;}
.h2sub {font-size: 1.4em;}
.h3sub {font-size: 1.2em;}
p.hero {border-left: none;}
.navbar .container {width: 100%;}
header .navbar .fixed-top {position:relative;}
header.solid #hmicon {top:8px;opacity:0.5;background:White;box-shadow: 0 0 0px 3px white;}
header.solid #hmicon span {}
header.solid #hmicon:hover {opacity:1;}
header.solid #hmicon.open {opacity:1;}
header.solid #hmicon.open {background:none; box-shadow:none;}
#homehead {text-align: center;}
div.videobox {height: 220px; width:95%;bottom: -232px;}
#vidsrc {padding: 10px;}
div.footer-copy {padding-top:15px; border-top: 2px solid #ffffff61;}
div.footer-copy p {margin-top:0; font-size:0.9em;text-align: center;}
footer.content-info h6 {margin-top:25px;}
footer.content-info .ftlight {padding-top:20px; padding-bottom:20px;}
footer.content-info .ftdark {text-align:center;padding-left:0;}
footer.content-info a.factionol {margin: 1em 0 2em 0;}
div.f_logo {margin:-15px auto 0;}
footer.content-info .greenbar {margin: 2em auto;}
#hero {padding:20px 0 20px; background-image:none;background:#E3EBF2;}
#hero h1 {font-size: 3em; margin-top: 0.5em;}
#hero h2 {line-height: 1.4em; font-size: 1.1em; margin-top: 20px;}
p.heroquote {margin:1em 0;padding-left: 10px; font-size: 1.0em;}
#product {padding:30px 0 20px}
#numbers {padding: 50px 0;}
#numbers .fnumber {max-height: 120px;}
#features {padding: 100px 0 70px;}
a.fxbbox .fximg {float:left;margin-left:67px;}
a.fxbbox .fximg img {width:80px; position: relative; top: -10px;}
a.fxbbox h3 {position:relative; left: 14px; text-align:left; margin: 1.5em 0 1em 0;}
a.fxbbox p {}
a.fxbbox p.lmore {margin:1em auto 3em;}
div.fxbox h3  {margin: 0.9em auto 0.5em;font-size:1.2em;}
div.fxbox .fximg {max-width:160px;}
#quotes {padding: 60px 0 20px;}
.carousel-control-next, .carousel-control-prev {display:none;}
#quorousel .carousel-inner {min-height: 400px;}
#enterprise, #integration {padding:50px 0;}
#fxform {padding-top:40px;}
#fullnav h4 {font-size: 1.3em; color:white;text-align:center;margin-bottom:0.55em;} 
#hmicon {position: fixed; left: 89%;}
#pagehead {background-position-x: center;padding: 20px 0 10px 0;}
#pagehead h2 {font-size: 1.7em;}
#pagehead h2.h1sub {font-size: 1.7em;font-size:1.3em;}
div#resources a div.card {min-height:inherit; box-shadow: none; border-bottom: 3px solid #e4f1ef; border-radius: 0; margin-bottom:30px; }
div#resources a div.card img.card-img-top {max-width: 103px;opacity:1; border-radius: 7px; border: 3px solid #dce0e1;}
div#resources a div.card div.card-body h5 {margin-top: 0.5em;}
#homeresources #resources a div.card img.card-img-top  {margin-bottom: 10px;}
div.resvideobox {padding:0;min-width:inherit;height:240px;margin-top:0px;}
div.fcontent section h2 {margin-top:0.4em;font-size: 1.4em;}
.blog-item a div.post-img img {max-height: 100px; border-radius: 13px;}
.blog-item a p.post-preview {/*display:none;*/ font-size: 0.9em;}
body .wrap main.default {padding: 30px 0;}
article.post {margin-bottom:30px;}
article.post a.blog-item {margin-bottom: 0;}
article.post a.blog-item div.post-img {width: 100px; float: left; margin-right: 20px; margin-bottom: 40px; background-size: 180%; min-height: 100px;}
div.fteambox {margin:10px 0;}
div.fteambox img.fphoto {max-height:160px;}
div.fteambox h4 {font-size:1.2em;}
#hero a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a, #hero a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8, #homehead a#cta_button_3985645_3ba72515-a180-408f-887f-510137fb5c8a, #homehead a#cta_button_3985645_a7ce54d0-2383-4cfe-9da9-3d2fb12446a8 {font-size:1em;}
#resource-filter a.nav-link {font-size: 0.8em;padding: 6px;border-radius: 4px;}
body.sidebar-primary .wrap .content aside.sidebar {display:none;}
ul.fbulls li::before {margin-left: 2px;left: -5px;}
body.sidebar-primary .wrap .content main {padding-right: 0;}
div.fbenefit {margin: 2rem 0;min-width:inherit;padding:0 12px 0 0;}
div.fbenefit img.ficon {left:inherit;top:20px;}
div.fbenefit div.fbimg {padding:0!important;}
div.fbenefit p.p {font-size:0.95em;margin-bottom:15px;}
div.fbenefit h3 {margin-top:20px;}
section.witharrow h2 {position: relative; top: 10px; margin: 0;}
p.fzbadge {left: 0;}
}


@media (min-width: 576px) and (max-width: 767px) {
.mob-overflow {overflow-x: hidden;}
#hero {background-image:none;background:#E3EBF2;}
div.videobox {height: 280px; width:95%;bottom: -290px;}
#vidsrc {padding: 10px;}
#fullnav h4 {color:white;text-align:center} 
img.pscreen {margin-top:30px;}
div.fcontent section {padding: 50px 0;}
div.fcontbox p {font-size: 0.9em;}
#pagehead {background-position-x: center;}
#fxform {padding-top:50px;}
section {padding: 40px 0;}
div.headem {left:0;padding:0;border:none;}
body.sidebar-primary .wrap .content aside.sidebar {display:none;}
body.sidebar-primary .wrap .content main {padding-right: 0;}
div.fbenefit {margin: 2rem 0;}
}


@media (min-width: 768px) and (max-width: 991px) {
#fullnav a.redaction {margin-top:40px;font-size:1.4em;}
a.fullitem {margin-top: 40px;display: block;}
#pagehead {background-position-x: center;}
section {padding: 50px 0;}
#fxform {padding-top:60px;}
body.sidebar-primary .wrap .content aside.sidebar {display:none;}
body.sidebar-primary .wrap .content main {padding-right: 0;}
div.fbenefit {margin: 2rem 0;}
}


@media (min-width: 992px) and (max-width: 1199px) {
#pagehead {background-position-x: center;}
div.fcontbox p {padding:0 20px;}
body.sidebar-primary .wrap .content aside.sidebar {min-width: 200px;}
}

@media (max-width: 2047px) and (min-width: 1200px) {
#pagehead {background-position-x: center;}
div.fcontbox p {padding:0 20px;}
div.fbenefit {position: relative; left: -54px;min-height: 288px;}
}

@media (min-width: 2048px) {	
body {zoom: 1.1;}
#pagehead {background-position-x: center;}
div.fcontbox p {padding:0 20px;}
div.fbenefit {position: relative; left: -54px;min-height: 288px;}
}